.mainHeaderContainer {
  display: flex;
  flex-direction: column;
  width: 95%;
  height: auto;
}

.heroHeaderContainer {
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.heroHeaderContainerTitle {
  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: #606060;
  font-size: 20px;
}

.heroHeaderContainerSubtitle {
  display: flex;
  align-items: center;
  gap: 8px;

  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: #00b563;
  font-size: 14px;
  background-color: #28c78026;
  padding: 8px 15px;
  border-radius: 25px;
}

.title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #606060;
  font-size: 20px;
  margin-top: 60px;
}

.subtitle {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #606060;
  font-size: 18px;
  margin-top: 35px;
  line-height: 30px;
}

.titleAndImageContainer {
  width: 95%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 35px;
}

.innerTitleAndImageContainer {
  width: auto;
  height: auto;
}

.headerImageContainer {
  width: 180px;
  height: 200px;
}

.headerImage {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

@media screen and (max-width: 480px) {
  .mainHeaderContainer {
    width: 100%;
  }

  .heroHeaderContainerSubtitle {
    visibility: hidden;
  }

  .heroHeaderContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
  }

  .titleAndImageContainer {
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }

  .title {
    margin: 0 auto;
    width: auto;
    text-align: center;
  }

  .subtitle {
    margin: 15px auto;
    width: auto;
    text-align: center;
    line-break: auto;
  }
}
