.mainHeaderContainer {
  display: flex;
  flex-direction: column;
  width: 95%;
  height: auto;
}

.heroHeaderContainer {
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
}

.heroHeaderContainerTitle {
  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: #606060;
  font-size: 20px;
}

.heroHeaderContainerSubtitle {
  display: flex;
  align-items: center;
  gap: 8px;

  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: #00b563;
  font-size: 14px;
  background-color: #28c78026;
  padding: 8px 15px;
  border-radius: 25px;
}

.title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #606060;
  font-size: 20px;
  margin: 60px 0 0 0;
}

.subtitle {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #606060;
  font-size: 18px;
  margin: 35px 0 0 0;
  line-height: 30px;
}
